@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.container {
  /* max-width: 1366px;
  width: 100%; */
  margin: 0 auto;
  /* padding: 0 15px; */
  background-color: #424242;
}

.logo {
  height: 50px;
}

/* ---------------------- */

.navbar {
  min-height: 70px;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
  background-color: #585858B2;
  color: #fff;
  padding: 0 30px;
}

.nav-branding {
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 999;
}
.nav-link {
  transition: 0.3s ease-out;
}
.nav-link:hover {
  color: dodgerblue;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.nav-item a{
  color:#fff;
  font-size: 17px;
}

/* ALL PAGES: HERO BANNER START */

.hero-banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 70px; */
}

.hero-banner-img1{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(./assets/air-quality.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-banner-img2{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(./assets/bannerImg2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-banner-image {
  background:  url(./assets/newsletter-banner-image.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-banner span {
  font-size: 6rem;
  color: #fff;
  max-width: 350px;
  width: 100%;
  display: inline-block;
  margin-left: 80px;
  font-weight: 500;
}

/* ALL PAGES: HERO BANNER END */


.first-section p {
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
}

.first-section {
  background-color: #207267;
  padding: 5rem 7rem;
}

.second-section__heading {
  font-size: 3rem;
  background-color: #94404e;
  padding: 1.5rem 4.5rem;
  color: #fff;
}

.seccond-section__text {
  background-color: #204b75;
  padding: 1.5rem 4.5rem;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}

.second-section__content {
  font-size: 2.4rem;
  color: #fff;
  padding: 4.5rem 4.5rem;
}

.second-section__content p {
  margin-bottom: 5rem;
}
.second-section__content-heading {
  margin-bottom: 1.5rem;
}

.multi-heading {
  margin-bottom: 4rem;
}

/* -------------Third section */

.section-strip {
  background-color: #207267;
  padding: 1.5rem 5rem;
}
.section-strip span {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
}

/* Section - 4 */

.fourth-section__content p {
  font-size: 2.4rem;
  color: #fff;
  line-height: 3.9rem;
}

.fourth-section__content {
  background-image: url("./assets/pollution.png");
  background-repeat: no-repeat;
  background-color: #207267;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5.5rem;
  background-position: center center;
  background-size: cover;
}

.quote {
  font-size: 5rem;
  display: inline-block;
}

.author-name {
  font-size: 2.4rem;
  display: inline-block;
  font-style: italic;
  color: #fff;
  text-align: end;
  margin-right: 50px;
}

.author-img {
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15rem;
  width: 15rem;
  bottom: -50px;
  right: -50px;
}

.author-img img {
  width: 100%;
  height: 100%;
}

/* Section - 5 */

.logo-strip {
  font-size: 4rem;
  display: flex;
  align-items: end;
  color: #fff;
  background-color: #207267;
  padding: 1.5rem 4.5rem;
}

.gdi-logo {
  height: 70px;
}

.gdi-logo img {
  height: 100%;
}

/* -----------Six - Image---------------- */

.sixth-section {
  display: flex;
  padding: 3.5rem 4.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.sixth-section__img1,
.sixth-section__img2,
.sixth-section__img3 {
  height: 100px;
}
.sixth-section__img1 img,
.sixth-section__img2 img,
.sixth-section__img3 img {
  height: 100%;
}
.sixth-section__img4,
.sixth-section__img5 {
  height: 180px;
}

.sixth-section__img4 img,
.sixth-section__img5 img {
  height: 100%;
}

/* ------------------------------------------------- */

.footer {
  background-image:  url(./assets/footer.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-container {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin-left: 10%;
}

.footer-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #204b75;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.7rem;
  font-weight: 500;
  color: #204b75;
  align-items: center;
}

.email-img,
.phone-img,
.location-img {
  width: 10rem;
  height: 7.5rem;
}

.email-img img,
.phone-img img,
.location-img img {
  height: 100%;
  width: 100%;
}

.location {
  max-width: 200px;
  width: 100%;
}
/* ------------------------------------ */

.social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
  flex-wrap: wrap;
  gap: 25px;
}

.social-media div {
  height: 3.5rem;
}

.linkedIn img,
.youtube img,
.medium img,
.newsletter img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.policy {
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 300;
}

.policy li:last-child {
  font-weight: 600;
}


/* ------------------------------- */

/* Page - 2 CSS */

.card{
  display: flex;
  gap: 30px;  
  background-color: #424242;
  padding: 20px;
  margin: 0 150px;
}

.profile-image{
  height: 250px;
  width: 250px;
}

.profile-image img{
  height: 100%;
  width: 100%;
}

.profle-detail{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name{
 font-size: 35px;
 font-weight: 700;
 margin-bottom: 10px;
 color: #fff;
}

.designation,
.education,
.organisation,
.experience,
.hobbies{
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
/* ----------------------------------------------------------- */

.image-gallery{
  display: flex;
  flex-wrap: wrap;
  background-color: #424242 ;
  gap: 149px;
  padding: 25px;
  margin: 0 auto;
  /* max-width: 900px; */
  width: 80%;
}

.image{
  height: 250px;
  width: 250px;
}

.image img{
  height: 100%;
  width: 100%;
}

@media screen and (max-width:576px) {
  .card{
    flex-direction: column;  
    align-items: center;
  }
}

/* page - 3 css----------------------------------------------------------------- */

.hero-banner2-img{

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(./assets/banner-img2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-image: url(./assets/banner-img2.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  min-height: 600px;
  position: relative;
  margin-bottom: 25rem;
}
.banner-content {
  max-width: 500px;
  width: 100%;
  background-color: #204B75;
  padding: 30px 10px;
  color: #fff;
  position: absolute;
  bottom: -100px;
  left: 50px;
  text-align: center;
}

.banner-content span{
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}

.banner-content p{
  font-size: 2rem;
  line-height: 35px;
}

.recruitment-img img{
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------- */
 
.section-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.section-img{
  /* height: 500px; */
  max-width: 500px;
  width: 100%;
}

.section-img img{
  height: 100%;
  width: 100%;
}

.section-content{
  font-size: 2rem;
  padding: 1.5rem 4rem;
  color: #fff;
  max-width: 900px;
  width: 100%;
}


.section-content p{
  margin-bottom: 18px;
}

.job{
  background-color: #fff;
  padding-bottom: 15px;
}

.job-openings {
  /* TODO: Change width 90% Horizontal Padding for responsiveness */
  width: 80%;
  padding: 2.5rem 0rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* TODO: Change margin 5% Horizontal Padding for responsiveness */
  margin-left: 10%;
  border-bottom: 0.5px solid #ccc;
}

.title {
  font-size: 2.4rem;
  color: #207267;
  font-weight: 700;
}

.job-openings-btn{
  display: flex;
  justify-content: space-between;
  gap: 20px;
} 

.desctiption-btn,.apply-btn{
  display: inline-block;
  padding: 14px 20px;
  font-size: 1.8rem;
  background-color: #207267;
  color: #fff;
  font-weight: 500;
  border-radius: 30px;
}

.content-wrap span{
  display: inline-block;
  max-width: 950px;
  width: 100%;
}

.academic img {
  width: 100%;
}

/* Page-4 css------------------------------- */

.bg-color{
  background-color: #204B75 !important;
}

.hero-banner-img3{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(./assets/pexels-photo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px 45px 0 45px;
  height: 90vh;
}

.hero-banner-img3 h2{
  font-size: 4.5rem;
  width: 100%;
  color: #fff;
}

.hero-banner-img3 p{
  font-size: 2.4rem;
  margin-top: 30px;
  max-width: 580px;
  color: #fff;
}

/* HOME: iWork Section Start */

.works{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.work {
  cursor: pointer;
  height: 350px;
  background-repeat: none;
  object-fit: contain;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.work img{
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.work:hover img{
  transform: scale(1.2);
}

.work-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  top: 0;
  left: 0; 
}

.work span{
  position: absolute;
  font-size: 2.4rem;
  color: #fff;
  padding: 10px;
  bottom: 20px;
}

/* HOME: iWork Section End */


/* HOME: iDream Section Start */

.dreams{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.dream {
  cursor: pointer;
  height: 350px;
  background-repeat: none;
  object-fit: contain;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.dream img{
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.dream:hover img{
  transform: scale(1.2);
}

.dream-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  top: 0;
  left: 0; 
}

.dream span{
  position: absolute;
  font-size: 2.4rem;
  color: #fff;
  padding: 10px;
  bottom: 20px;
}

/* HOME: iDream Section End */


.gov-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gov-gallery-items{
  width: 506px;
  height: 260px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);

  object-fit: contain;
  background-size: 100% 100%;
}

.gov-gallery-items span{
  position: absolute;
  color: #fff;
  font-size: 2.4rem;
  left: 30px;
  bottom: 20px;
}

.gov-gallery-items img{
  width: 100%;
  height: 100%;

}

.gallery-img1{
  background-image: url(./assets/article-1.png);
}
.gallery-img2{
  background-image: url(./assets/article-2.png);
}
.gallery-img3{
  background-image: url(./assets/article-3.png);
}
.gallery-img4{
  background-image: url(./assets/article1-1.png);
}
.gallery-img5{
  background-image: url(./assets/article2-1.png);
}
.gallery-img6{
  background-image: url(./assets/article-3-1.png);
}

.partners-logos{
  width: 200px;
}

.partners-logos img{
  width: 100%;
}

.partners{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.two-column{
  display: flex;
}
.first-column,.second-column{
  width: 50%;
}


.letter-heading{
  font-size: 4.2rem;
  padding: 20px;
  background-color: #204B75;
  color: #fff;
}

.join-heading{
  background-color: #207267;
  font-size: 4.2rem;
  padding: 20px;
  color: #fff;
}

.letter-content{
  padding: 30px 25px;
  color: #fff;
  display: flex;
  gap: 20px;
}

.content-text{
  border-bottom: 5px solid #CB3600;
  padding: 20px 0;
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  max-width: 483px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.left-content{
  width: 50%;
}
.content-text span:first-child{
  color:#CB3600;
}

.left-text{
  font-size: 1.8rem;
  display: flex;
  gap: 13px;
}

.content-img img{
  width: 100%;
}

.right-content{
  width: calc(100% - 50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.right-text{
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 400;
}

.read-more-btn{
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.8rem;
  border: 4px solid #fff;
  color: #fff;
}

.join-content{
  position: relative;
}

.join-content img{
  width: 100%;
}

.join-content span{
  position: absolute;
  bottom: 80px;
  font-size: 4.4rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.two-column{
  display: flex;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 1025px) {
  .navbar{
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }

  .two-column{
    flex-direction: column;
  }  
  .first-column,.second-column{
    width: 100% !important;
  }

  .card-section .card{
    margin: 0px 98px;
  }
}

@media screen and (max-width:768px) {
  .fourth-section__content{
      margin: 1.5rem;
      padding: 15px;
  }
  .author-name{
    margin-right: 12.9rem;
      
  }
  .author-img{
      height: 12rem;
      width: 12rem;
      bottom: -50px;
      right: -12px;
  }

  .job-openings{
    flex-direction: column;
    gap: 10px;
  }

  
  .hero-banner2 .banner-content{
    left:0;
    max-width: unset;
  }
  .academic .logos-list{
    justify-content: center;
  }

  .previous .previous-logos-list{
    justify-content: center;
  }

  .image-gallery{
    justify-content: center;
    gap: 15px;
    padding: 15px;
  }

  .content-text{
    max-width: unset;
  }

  .letter-content{
    flex-direction: column;
  }
  .left-content,.right-content{
    width: 100%;
  }

  .hero-banner{
    height: 54vh;
    gap: 0px;
  }

  .hero-banner-img3 h2{
    font-size: 3.5rem;
  }

  .hero-banner2-img{
    min-height:288px;
  }
  .hero-banner-img3 p{
    font-size: 2.1rem;
  }
  .banner-content{
    bottom: -213px;
  }

  .card-section  .card{
    margin: 0;
  }
}

@media screen and (max-width:658px) {
  .hero-banner-img3 p{
    left: 15px;
  }
  .hero-banner-img3 h2{
    left: 15px;
  }
}

@media screen and (max-width:576px) {
    .navbar{
      padding: 1.5rem 1.5rem;
    }

    .logo-strip{
      padding: 1.5rem 1.5rem;
    }

    .hero-banner-img3 {
      min-height: 80vh;
    }

    .first-section{
        padding: 2.5rem 1.5rem;
    }

    .second-section__heading{
        font-size: 2.3rem;
        padding: 1.5rem 2.5rem;
    }

    .first-section p,.fourth-section__content p,.author-name,.second-section__content,.second-section__content p{
        font-size: 1.9rem;
    }
    .second-section__content-heading{
        font-size: 2.3rem;
    }
    .seccond-section__text
    {
        padding: 2.5rem 1.5rem;
        font-size: 2.3rem;
    }

    .section-strip,.sixth-section{
        padding: 2.5rem 1.5rem;

    }
    .hero-banner span{
        margin-left: 50px;
    }
    .section-strip span{
        font-size: 2.3rem;
    }
    .second-section__content{
        padding: 2.5rem 1.5rem;
    }
    .fourth-section__content p{
        font-size: 2rem;
        color: #fff;
        line-height: 2.4rem; 
    }

    .join-content span{
      font-size: 3.4rem;
    }


    .footer{
        padding: 2.5rem 1.5rem;
    }
    .sixth-section__img1, .sixth-section__img2, .sixth-section__img3{
        height: 80px;
    }
    .policy{
        font-size: 16px;
    }

    .hero-banner span{
      font-size: 23px;
    }
    .second-section__heading {
      font-size: 2rem;
    }

    .image-gallery{
      padding: 0;
    }
}

@media screen and (max-width:426px) {
    .sixth-section__img1 {
      height: 70px;
    }

    .sixth-section {
      padding: 15px;
    }

 

    .hero-banner-img3{
      padding:5px 10px;
    }

    .hero-banner span{
      margin-left: 30px;
    }
    
    .contacts{
      flex-direction: column;
      align-items: center;
    }

    .sixth-section{
      flex-direction: column;
      gap: 40px;
    }
    .policy,.social-media{
      flex-direction: column;
      align-items: center;
    }

    .hero-banner2-img > .banner-content{
      left: 0;
    }
    .job-openings{
      flex-direction: column;
      gap: 10px;
    }

    .job-openings-btn{
      align-items: center;
    }
    .job-openings-btn .desctiption-btn,
    .job-openings-btn .apply-btn{
      font-size: 1.3rem;
    }

    /* .job .job-openings{
      padding: 1.5rem 3rem;
    } */

    .previous .previous-heading{
      font-size: 2rem;
    }
    .academic .academic-heading{
      font-size: 2rem;
    }

    .academic-logos, .previous-logos-item{
      width: 150px;
    }

    .hero-banner{
        height: 25vh;
    }

    .hero-banner2-img {
      margin-bottom: 30rem;
      min-height: 450px;
    }
    .banner-content{
      bottom: -249px;
    }

  
    .card {
      margin: 0;
  }
}